#map {
  width: 800px;
  height: 800px;
  position: relative;
  background-image: url("./Assets/background-map-traps.png");
  background-size: contain;
}

#score {
  width: 800px;
  height: 70px;
  background-color: rgb(89, 118, 109);
  position: relative;
  background-size: contain;
  margin: auto;
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}

#screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}

#player {
  width: 40px;
  height: 40px;
  position: absolute;
  transition: all 0.1s ease;
  background-size: contain;

}

.back {
  background-image: url(./Assets/Santa/backgif.gif);
}

.front {
  background-image: url(./Assets/Santa/frontgif.gif);
}

.left {
  background-image: url(./Assets/Santa/leftgif.gif);
}

.right {
  background-image: url(./Assets/Santa/rightgif.gif)
}

.trapx {
  width: 40px;
  height: 20px;
  position: absolute;
}

.trapy {
  width: 20px;
  height: 40px;
  position: absolute;
}

.candyleft {
  background-image: url("./Assets/candyleft.png");
  height: 20px;
  width: 40px;
  position: absolute;
  background-size: contain;
}

#candyright {
  background-image: url("./Assets/candyright.png");
  height: 20px;
  width: 40px;
  position: absolute;
  background-size: contain;
}


/* #candydown{
    background-image: url("./Assets/candydown.png");
    left: 80px;
    top: 50px;
    height: 40px;
    width: 20px;
    position: absolute;
    background-size: contain;
}

#candyup{
    background-image: url("./Assets/candyup.png");
    left: 100px;
    top: 50px;
    height: 40px;
    width: 20px;
    position: absolute;
    background-size: contain; */
